
.how_it_works_page {
    background: #fff;
    padding-top: 138px;
    padding-bottom: 55px;
}


.branding_portion h2 {
    display: inline-block;
    position: relative;
    background: #fff;
    font-size: 30px;
    color: red;
}

.branding_portion h2 span {
    background: #fff;
    position: relative;
    z-index: 2;
    padding: 0px 19px;
}
.branding_portion h2:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-top: 2px solid red;
    width: 139%;
    z-index: 1;
}


.working_divs h4 {
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
}


.working_divs h4 span {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #dca94b;
    border-radius: 50%;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.working_divs p {
    font-size: 14px;
    max-width: 760px;
    margin: auto;
}


.laptop_image {
    margin: 62px auto 0;
    width: 450px;
    position: relative;
    z-index: 1;
}


.ride_detail {
    background: #efefef;
    padding: 59px 0px 0px;
    position: relative;
}

.ride_detail > div{
    position: relative;
}

.ride_detail:after {
    content: "";
    position: absolute;
    top: -142px;
    left: 0;
    width: 100%;
    background: #efefef;
    height: 189px;
    transform: skew(0deg,-3deg);
}

.ride_detail:before {
    content: "";
    position: absolute;
    bottom: -169px;
    left: 0;
    width: 100%;
    background: #efefef;
    height: 219px;
    transform: skew(0,3deg);
}


.fedback_div {
    margin-top: 60px;
}


.review_stars {
    margin-top: 37px;
    font-size: 37px;
    color: #dca94b;
    margin-bottom: 0px;
}