
html, body {
    height: 100vh;
}

.login_page {
    display: flex;
    height: 100%;
	    flex-direction: row;
}



.form_module {
    width: 50%;
    background: #fff;
    border-right: 1px solid #ccc;
    max-width: 660px;
    position: relative;
}

.form_header {
    padding: 18px 28px 22px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_body {
    padding: 60px;
}


.form_body h6 {
    font-size: 26px;
}


.form_body > span {
    font-size: 17px;
    color: grey;
    margin-bottom: 30px;
}


.login_form .form-group {
    position: relative;margin-bottom: 35px;
}

.login_form .form-group > label{font-weight: 600;display: block;cursor: pointer;text-transform: uppercase;color: grey;margin: 0;}

.login_form .form-group > label > span.badge {
    text-transform: capitalize;
    background: #efefef;
    padding: 8px 23px 8px 9px;
    border-radius: 20px;
    margin-left: 17px;
    color: #333;
}

.login_form .form-group > label > span.badge i {
    background: #56bd56;
    color: #fff;
    display: inline-flex;
    width: 19px;
    height: 19px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 4px;
}

.material_field{position: relative;}

.material_field > input {
    width: 100%;
    display: block;
    border: 0;
    border-bottom: 2px solid #ccc;
    outline: none !important;
    box-shadow: none !important;
    height: 45px;
}
.material_field i {
    position: absolute;
    top: 10px;
    right: 0;
    color: #333;
    font-size: 22px;
    transition: all 1000ms  ease;
}
.material_field .outline{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    opacity: 0;
    visibility: hidden;
    border-bottom: 2px solid #dca94b;
    transition: all 1000ms  ease;
}

.material_field > input:focus ~ span.outline{
    width: 100% !important;visibility: visible !important;opacity: 1 !important;
}

.material_field > input:focus ~ i{
color: #dca94b;
}


.progress_box {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    width: 100%;
}
.progress-bar{background-color: #56bd56;}
.progress_box span {
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
}
.choose_pwd{margin-bottom: 20px;}

.login_button {
    height: 56px;
    background: #dca94b !important;
    color: #fff;
    border-color: #dca94b !important;
    position: relative;
    outline: none !important;
    box-shadow: none !important;
}
.login_button:after {content: "";position: absolute;top: 0;left: 50%;width: 0%;height: 100%;background: #333;transition: all 200ms ease-in;transform: translateX(-50%);opacity: 1;}
.login_button:hover:after{opacity: 1;width: 100%;}
.login_button:hover{border-color: #000;}
.login_button > span{position: relative;z-index: 1;}

.show_pwd{color: #333 !important;cursor: pointer;}

.another_interation {
    font-size: 19px;
    text-align: center;
    margin-top: 36px;
}

.another_interation > a {
    text-decoration: underline;
}

.copyright_portion {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    text-align: center;
}

.linkers {
    color: #333;
}
/* login_bg css start */
.image_module {
    width: calc(100% - 550px);
    position: relative;
}

.login_bg {
        display: flex;
    margin: 0px;
    height: 100%;
    position: relative;
}


.login_bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.login_bg img {
    object-fit: cover;
    object-position: center;
}

.texture_portion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.texture_points {
    max-width: 450px;
    margin: auto;
    padding: 0;
}

.texture_points li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.texture_points li:last-child{margin-bottom: 0px;}


.texture_points li strong {
    color: #fff;
    font-size: 19px;
    margin-bottom: 5px;
    display: block;
}


.texture_points li p {
    color: #e4e4e4;
    font-size: 15px;
}

.texture_points li p:last-of-type{margin: 0;}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(250,250,250,0.9);
    width: 80px;
    height: 80px;
    border-radius: 5px;
    padding: 11px;
    margin-right: 30px;
}


.icon img {
    width: 100%;
    height: 100%;
}

/* login_bg css end */

/* register-page css start */

.register_page .form_header {
    justify-content: flex-start;
}


.tab_links {
    display: inline-flex;
    align-items: center;
    margin-left: 35px;
}

.tab_links a > span {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: #efefef;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color: #333;
    box-shadow: 0px 0px 7px #adadad;
}

.nav-link.active > span {
    background: #dca94b !important;
    color: #fff;
}

.mid_space {
    display: inline-flex;
    width: 50px;
    height: 2px;
    background: #d6d6d6;
}
.tab-content .tab-pane {
    padding: 0;
    display: none;
}

.tab-pane.active {
    display: block;
}


.number_list {
    position: absolute;
    top: 0;
    left: 0;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    height: 43px;
    min-width: 70px;
}
.mobile_field input {padding-left: 80px;}
/* register-page css end */