html, body {
    height: 100vh;
}

body {
    background: #efefef;
    font-family: 'Open Sans'
}


.login-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 305px;
    position: relative;
}

.login-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}


.login-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.login_wrapper {
    text-align: center;
    width: 355px;
    margin: -232px auto 0px;
    position: relative;
}

.login_wrapper h1 {
    font-size: 21px;
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

.login_box {
    background: #fff;
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 35px 35px 1px;
    position: relative;
    box-shadow: 0 0 13px #d0d0d0;
}


.login_box:after {
    content: "";
    position: absolute;
    background: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(30px);
    box-shadow: 0 0 13px #d0d0d0;
    z-index: -1;
}

.list {
    padding: 0px 25px 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.list li {
    margin: 0px 20px;
}

.list li:first-child{
    margin-left: 0px;
}

.list li:last-child{
    margin-right: 0px;
}

.list li a {
    font-size: 18px;
    text-transform: uppercase;
    color: #969696;
    position: relative;
    padding-bottom: 10px;
    text-decoration: none !important;
}

.list li a:after{
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 4px solid transparent;
    left: 0;
    bottom: 0px;
}

.list .active {
    color: #000;
    font-weight: bold;
}

.list .active:after{
    border-color: #dca94b;
}


form {
    margin-top: 45px;
}

.form-group input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    box-shadow: none !important;
    outline: none !important;
    padding: 0 18px;
    font-size: 15px;
    text-transform: capitalize;
    padding-left: 48px;
}


.form-group select {
    width: 100%;
    height: 40px;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 20px;
    font-size: 15px;
    text-transform: capitalize;
    padding-left: 21px !important;
}



.bottom_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden_field {
    width: 0 !important;
    height: 0 !important;
    opacity: 0;
}

.custome_checkbox{
    position: relative;
    cursor: pointer;
}

.custome_checkbox {
    position: relative;
    font-size: 14px;
    color: #333;
}


.custome_checkbox span {
    padding-left: 30px;
    position: relative;
}

.custome_checkbox span:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.custome_checkbox span:before {
    background: #dca94b;
    content: "\f00c";
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    border-radius: 4px;
    font-family: FontAwesome;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
    transition: all 0.3s ease-in;
}


.custome_checkbox input:checked ~ span:before{
    opacity: 1;
}



.forget_pwd {
    font-size: 14px;
}

.submit_wrapper {
    margin-top: 40px;
}

.form-group {
    position: relative;
}


.form-group i {
    position: absolute;
    top: 11px;
    left: 20px;
}

.btn_submit {
    width: 40px;
    height: 40px;
    border: 0;
    background: #dca94b;
    color: #fff;
    border-radius: 50%;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    position: relative;
    top: 20px;
}

.btn_submit:hover{
    background-color: #333;
}



.pointers {
    margin-top: 75px;
    padding-bottom: 40px;
}


.point_box {
    text-align: center;
}

.pointer_image {
    display: flex;
    align-items: center;
    justify-content: center;
}


.pointer_image img {
    height: 85px;
    object-fit: contain;
}


.point_box strong {
    display: block;
    margin-top: 24px;
    max-width: 190px;
    margin: 24px auto 7px;
    height: 50px;
}

.point_box p {
    font-size: 14px;
    max-width: 280px;
    margin: auto;
}

@media (max-height: 567px){
    .login-bg{height: 315px;}
    .login_wrapper{margin: -281px auto 0px;}
    .login_wrapper h1{margin-top: 23px;}
    .login_box{margin-top: 30px;}
}

@media only screen and (max-width:340px){
  .login-bg img {
    width: auto;
  }
  .login-bg:after {
    width: 400px;
  }
  .login_box{
    margin:40px 20px 0;
  }
}

@media only screen and (max-width:767px){
  .login_wrapper {
    width: 335px;
  }
}
