/* common responsive css start */
@media (max-width: 1064px){
    .container{
        width: 100%;
    }
}
/* common responsive css end */

/* header responsive css start */
header#mobile_header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: none;
}

header#mobile_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#mobile_header .navbar-brand {
    position: relative;
    top: -5px;
}

header#mobile_header .right_menu {
    display: inline-flex;
}

header#mobile_header .right_menu  .language-dd > .btn{
    font-size: 14px;
    padding: 25px 0.75rem;
}

header#mobile_header .flag-icon{
    width: 25px;
}

header#mobile_header .flag-icon img{
    object-fit: unset;
    height: auto;
}

header#mobile_header .right_menu .language-dd > .btn i {
    font-size: 17px !important;
}

header#mobile_header .flag-dd .btn {
    padding: 23px .75rem !important;
}

header#mobile_header.fixed-mob-header {
    background: #333;
    z-index: 100;
}

header#mobile_header.fixed-mob-header .right_menu .language-dd > .btn{
    color: #fff;
}

header#mobile_header .account_dd button{
    box-shadow: none !important;
    outline: none !important;
}
header#mobile_header .account_dd .dropdown-menu {
    min-width: unset;
}

header#mobile_header .mobile_toggler {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 1px solid #000;
    color: #000;
    margin-top: 19px;
    border-radius: 4px;
    margin-left: 9px;
    outline: none !important;
    box-shadow: none !important;
}

header#mobile_header.fixed-mob-header .mobile_toggler{
    border-color: #fff;
    color: #fff;
}

.mobile_menu {
    position: fixed;
    top: 72px;
    right: 15px;
    background: #fff;
    padding: 0;
    list-style: none;
    z-index: 101;
    border-radius: 4px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 155px;
    border: 1px solid #ccc;
    display: none;
}


.mobile_menu a {
    display: block;
    padding: 8px 15px;
    color: #333;
    font-size: 13px;
    min-width: 180px;
}

header#mobile_header.inner_header .right_menu .language-dd > .btn{
    color: #fff;
}

header#mobile_header.inner_header{
    background-color: #333;
}

header#mobile_header.inner_header .mobile_toggler{
    border-color: #fff;
    color: #fff;
}

@media (max-width: 1064px){
    header#desktop_header{
        display: none;
    }

    header#mobile_header{
        display: block;
    }
}

@media (max-width: 600px)
{
    header#mobile_header .right_menu .language-dd > .btn {
        font-size: 14px;
        padding: 25px 0px;
    }
    header#mobile_header .mobile_toggler{
        margin-left: 20px;
    }
}

@media (max-width: 430px){
    .login-btn span{display: none;}
    .login-btn i{position: relative;top: 4px;}
    .en-dropdown{margin-left: 5px;}
    .navbar-brand img {width: 79px;}

    .language-dd .dropdown-menu {
        left: unset;
        right: 0;
        transform: none !important;
        min-width: unset;
    }

}
/* header responsive css end */

/* footer responsive css start */

@media (max-width: 990px){
    footer .footer-box p{
        min-width: unset;
    }
}
/* footer responsive css end */


/* home page responsive css start */
@media (max-width: 1100px){
    .features {
        padding: 0px 80px;
    }

    .our-work-procedure {
        padding: 15px 50px 50px;
    }

}

@media (max-width: 990px){
    .banner-section h1 , .banner-section h2{
        text-align: center;
    }

    .booking-form .circle{
        right: unset;
        left: 50%;
        top: unset;
        bottom: -45px;
        transform: translateX(-50%);
    }

    .booking-form .booking-btn{
        margin: 0 0 25px 0;
        text-align: center;
        top: 0px;
    }

    .features .box{
        transform: none;
        justify-content: flex-start;
    }

    .features .box .icon{
        transform: none;
    }

    .features .box .feature_heading {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .features .box h3 {
        font-size: 17px;
    }

    .our-work-procedure .box{
        transform: none;
        text-align: center;
    }
    .our-work-procedure .box .icon{
        transform: none;
    }

    .our-work-procedure .box .feature_heading{
        flex-direction: column;
    }


    .map_texture {
        height: auto !important;
        position: static;
    }

    img.map_bg {
        display: none;
    }

    .transfer_points li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .transfer_points {
        padding: 0px 75px;
    }

    .our_map{
        padding-bottom: 60px;
        margin-bottom: 0px;
    }
}

@media (max-width: 840px){
    .transfer_points li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .transfer_points {
        padding: 0px 75px;
    }
}

@media (max-width: 767px){
    .features .row > div[class^="col"]{
        margin-bottom: 20px;
    }

    .our-work-procedure .row div[class^="col"]{
        margin-bottom: 40px;
    }

    .transfer_points li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .transfer_points {
        padding: 0px 15px;
    }


}

@media (max-width: 600px){
    .booking-form .list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .booking-form .list span {
        margin-bottom: 17px;
        display: block;
        text-align: center;
    }

    .transfer_points li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 500px)
{
    .booking-form .filter-form ul {
        display: flex;
        flex-direction: column;
    }

    .booking-form .filter-form ul li a {
        text-align: center;
    }

    .recommended-carousel{
        padding: 0px;
    }

    .cars_collection .owl-nav button{
        position: static !important;
        transform: none !important;
    }
    .features {
        padding: 0px;
    }
    .our-work-procedure {
        padding: 15px 0px 50px;
    }
}
/* home page responsive css end */

/* agency-menu css start */

.btn_bifrost_nav{
    display: none;
}

.btn_bifrost_nav {
position: absolute;
right: -25px;
width: 25px;
border: 0;
background: #dca94b;
font-size: 15px;
color: #fff;
padding: 6px 10px;
box-shadow: none !important;
outline: none !important;
}


.bifrost_navigation .rotate_icon i {
transform: rotate(180deg);
}

@media (max-width: 1100px){
    .bifrost_navigation {
        position: fixed;
        top: 73px;
        left: 0;
        width: 250px;
        height: calc(100% - 73px);
        z-index: 101;
        padding: 0px;
        transform: translateX(calc(-100% + 0px));
        transition: all 0.3s ease;
    }

    .show_bifrost_sidebar {
        transform: translateX(calc(0% + 0px));
    }



    .bifrost_navigation .container{
        padding: 0px;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    .bifrost_navigation span {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }

    .bifrost_navigation span a{
        display: block;
        width: 100%;
        padding: 10px 15px;
    }

    .btn_bifrost_nav{display: inline-block;}
}

/* agency-menu css end */

/* ageny-page css start */

@media (max-width: 1000px){
    .byfrost_page .container > .row > div[class^="col"]{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .field_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px -10px;
    }

    .field_box .form-group {
        width: 33.33%;
        padding: 0px 10px;
    }
}

@media (max-width: 767px){


.trip_table {
    overflow: hidden;
    overflow-x: auto;
}

.trip_table table {
    min-width: 1000px;
}

.table_footer {
    flex-direction: column;
}
}

@media (max-width: 600px){
    .field_box .form-group {
        width: 100%;
        padding: 0px 10px;
    }
}
/* ageny-page css end */


/* b2b solution page responsive css start */

@media (max-width: 990px){

    .partner-list {
        padding: 0px 35px;
    }
    .partner-list ul li{
        width: 33.33%
    }
}
@media (max-width: 767px){
    .banner_section h3{
        font-size: 31px;
    }
    .banner_section p{
        padding: 0px 15px;
    }
    .partner-list ul li{
        width: 50%
    }
}

@media (max-width: 500px){
    .partner-list ul li{
        width: 100%
    }
}
/* b2b solution page responsive css end */

/* booking_id page css start */
@media (max-width: 1000px){
    .inner_tabs{
        margin-top: 110px;
    }
}
/* booking_id page css end */

/* book-now page css start */

@media (max-width: 990px){

.booknow_page .destination_text p {
    display: flex;
    font-size: 14px;
}
.totaling{
    font-size: 16px;
    padding: 0;
}
.totaling span{
    font-size: 16px;
}
}

@media (max-width: 767px){
    .booknow_page .container > .row > div[class^="col"]{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .booknow_page .map_portion {
        margin: 20px 15px;
        width: calc(100% - 30px);
    }
    .booknow_page .destination_sidebar{
        margin: 20px 15px;
        width: calc(100% - 30px);
    }
}

@media (max-width: 400px){

    .booknow_page .form_data .text-right {
    text-align: center !important;
}

}
/* book-now page css end */


/* byforst_page css start */
@media (max-width: 1400px){
    .realbyfrost_page .trip_table{
        overflow: hidden;
        overflow-x: auto;
    }
}
/* byforst_page css end */

/* history-page css start */

@media (max-width: 767px){

    .working_divs {
        padding: 0px 50px;
    }

    .working_divs h4{
        font-size: 19px;
    }

    .working_divs h4 span{
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

}



@media only screen and (max-width: 767px){
  .car_listing {
    padding-right: 10px;
    height: auto;
  }
  .car_listing .car_box {
    flex-direction: column;
  }
  .car_listing .car_box:hover {
    transform: scale(0.90) skew(-5deg);
  }
  .car_listing .car_info {
    padding: 18px 18px;
    width: auto;
  }
  .car_listing .car_image {
    width: auto;
  }
  .car_listing .btn_booknow {
    position: absolute;
    bottom: 0;
    left:auto;
    right: 18px;
  }
  .myAccount_page .container {
    flex-direction: column;
  }
  .myAccount_sidebar {
    width: 100%;
  }
  .myAccount_sidebar ul {
    padding-left: 0px;
    width: 100%;
  }
  .inner_part {
    width: auto;
    padding: initial;
	padding-top: 30px;
  }
  .trip_page .nav-tabs {
    position: absolute;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .trip-box .status {
    position: relative;
    right: 0;
    top: 0;
    margin: 0 auto;
  }
  .trip-box .card-header {
    flex-direction: column;
  }
  .points_inner {
    top: -15px;
    right: 0px;
  }
  .trip_location {
    flex-direction: column;
  }
  .button_actions {
    position: relative;
    right: 0;
    bottom: -10px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 48px;
    left: 0;
    background-color: #dca94b;
    overflow-x: hidden;
    transition: all 0.3s ease;
    transform: translateX(calc(0% + 0px));
    padding-top: 54px;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 20px;
    margin-left: 50px;
  }
  .viewmenu{
    display: block !important;
    right: auto;
    top: 73px;
    left: 0;
  }
  .closebtn{
    display: block !important;
    color:#ffffff;
  }
}


@media only screen and (min-width:768px) and (max-width: 1024px){
  .car_listing {
    padding-right: 10px;
    height: 400px;
  }
  .car_listing .car_box {
    flex-direction: column;
  }
  .car_listing .car_box:hover {
    transform: scale(0.90) skew(-5deg);
  }
  .car_listing .car_info {
    padding: 18px 18px;
    width: auto;
  }
  .car_listing .car_image {
    width: auto;
  }
  .car_listing .btn_booknow {
    position: absolute;
    bottom: 0;
    left:auto;
    right: 18px;
  }
  .map_portion {
    height:400px;
  }
  .myAccount_sidebar {
    width: 250px;
  }
  .myAccount_sidebar ul {
    width: 250px;
  }
  .inner_part {
    width: calc(100% - 250px);
    padding: 27px 25px 0px;
  }
  .trip-box .status {
    right: 8px;
    top: 8px;
  }
  .trip-box .card-header {
    display: flex;
    flex-direction: column;
  }
  .trip_location {
    flex-direction: column;
  }
  .button_actions {
    position: relative;
  }
}

@media only screen and (min-width:1025px) and (max-width: 1280px){
  .button_actions {
    position: relative;
  }
  .trip_location {
    flex-direction: column;
  }
  .trip_timming {
    margin-left: 10px;
  }
  .time_consumer {
    margin-left: 20px;
  }
}
