.custom_scrollbar::-webkit-scrollbar {width: 5px;}
.custom_scrollbar::-webkit-scrollbar-track {background: transparent; }
.custom_scrollbar::-webkit-scrollbar-thumb {background: #dca94b;}
.custom_scrollbar::-webkit-scrollbar-thumb:hover {background: #333; }


/* global css start */
html , body{overflow: hidden;overflow-y: auto;}
body{font-family: 'Open Sans', sans-serif;background: #efefef;}
.container {max-width: 1600px;width: calc(100% - 80px);}
a{text-decoration: none !important;transition: all 0.5s ease;}
select option{color: #000;}

/* global css end */

/* common classes css start */
.mar-b{margin-bottom:3px}
.border-none{border:none;margin-top: 20px;font-size:12px}
.border-none:focus{outline:none;box-shadow:none}
/* common classes css end */

/* overlay css start */
.overlay{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.4);z-index: 11;opacity: 0;visibility: hidden;transition: all 0.5s ease-in;}
/* overlay css end */


/* header css start */
.navigation {padding: 0px;}
.navigation ul{margin: 0 0 0 auto}
.navigation ul li a{padding-right: 0.5rem;font-size: 15px!important;padding-left: .5rem;color: #000!important;}
.login-btn{font-weight: bold;font-size: 15px;padding: 2px 13px;border-radius: 8px;background: transparent;}
.sign-btn{background: #000;color: #fff;font-weight: bold;font-size: 15px;padding: 5px 13px;border-radius: 8px;}
.en-dropdown{background: transparent;font-size: 14px;padding: 3px;margin-left: 10px;border: none;color: #000;}

header .dropdown-menu.language-dd{left: unset !important;right: 0px;top: 45px;}
.language-dd > .btn {font-size: 16px;display: inline-flex;align-items: center;justify-content: center;color: #000;padding: 23px .75rem;}
.language-dd > .btn:hover{text-decoration: none !important;}
.flag-icon {display: inline-block;width: 38px;margin-right: 12px;height: 27px;border-radius: 7px;overflow: hidden;}
.flag-icon img {width: 100%;height: 100%;}
.navbar-brand img {width: 105px;}
.language-dd:hover .dropdown-menu {opacity: 1;display: block;}
.language-dd .dropdown-menu {left: 15px;margin: -1px 0 0 0;min-width: 200px;padding: 0px 0 15px 0;max-height: 250px;overflow: hidden;overflow-y: auto;}
.language-dd > .btn:after {content: "";position: absolute;bottom: 0;left: 12px;width: calc(100% - 25px);border-top: 4px solid transparent;}
.language-dd > .btn:hover:after{
	border-color: #dca94b !important;
}

.language-dd .dropdown-menu .dropdown-item {
    padding: 4px 15px;
	align-items: center;
    justify-content: flex-start;
	display: flex;
}

.language-dd .dropdown-menu .dropdown-item .flag-icon {
    margin-right: 4px;
    width: 24px;
    height: 21px;
    border-radius: 0px;
}

.language-dd .dropdown-menu .dropdown-item:hover {
    background: #efefef !important;
}


.language-dd .dropdown-menu .dropdown-item i {
    margin-right: 12px !important;
    display: inline-block;
}

/*.menu-item {
    padding-left: 40px;
}
*/

#lang_choice_1{
    background: transparent;
    border: none;
}

#lang_choice_1:focus-visible{
    background: transparent;
    border: none;
    outline: none;
}

ul#nav li .sub-menu {
    list-style: none;
}

body #nav .menu-item a:hover {
    color: #e6ae48 !important;
    text-decoration: none !important;
}

body #nav .current-menu-item a {
    color: #e6ae48 !important;
}

ul#nav li .sub-menu {
    display: none;
    border-radius: 0px;
    border: 0px;
    min-width: 85px;
    text-align: left;
    position: absolute;
    top: 50px;
    z-index: 9;
    background: #fff;
    color: #333;
    padding: 0px;
    transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
}
ul#nav li .sub-menu a{
    color: #333 !important;
}
ul#nav>li:last-child>a:after {
    margin-left: 5px;
    content: '\25BE';
    font-size: 18px;
}

/* inner-header css start */
.inner_header nav {background: #333 !important;}
.inner_header .navigation ul li a{color: #fff !important}
.inner_header .en-dropdown{color: #fff}
.inner_header .login-btn{color: #fff;}
.fixed-top{z-index: 10;}
/* inner-header css end */


header .active-header {background-color: #333;transition:all 0.5s;}
header .active-header ul li a{color: #fff !important}
header .active-header .language-dd > .btn{color: #fff !important}

/* header css end */

/* header css end */

/* footer css start */
footer {background: #262626;padding-top: 35px;}
footer .footer_top {text-align: center;margin-bottom: 35px;text-align: center;}
footer .footer_top .footer_logo {display: inline-block;margin-bottom: 16px;}
footer .footer_top p {color: #fff;font-size: 15px;max-width: 685px;margin: auto;line-height: 25px;}
footer .footer-box {max-width: 600px;margin: auto;}
footer .footer_links {padding-left: 0px;list-style: none;}
.footer_links li {margin-bottom: 12px; }
footer .footer-box h6 {font-size: 15px;font-weight: bold;}
footer .footer_links a {font-size: 14px;color: #fff;}
footer .footer_links a:hover{color: #dca94b}
footer .footer-box p {color: #fff;font-size: 15px;min-width: 270px;}
footer .footer-box p:last-of-type {margin-bottom: 0px;}
footer .contact_links {margin-top: 11px;font-size: 15px;padding-left: 0px;list-style: none;}
footer .contact_links a {color: #fff;display: inline-flex;align-items: center;}
footer .contact_links a i {background: #dca94b;display: inline-flex;width: 20px;height: 20px;align-items: center;justify-content: center;border-radius: 50%;font-size: 11px;color: #fff;margin-right: 9px;}
footer .contact_links li {margin-bottom: 10px;}
footer .social-links {padding-left: 0px;list-style: none;display: flex;margin: 10px auto 0px 10px;align-items: center;justify-content: center;}
footer .social-links li{margin: 0 12px 0px;}
footer .social-links li:last-child{margin-bottom: 0;}
footer .social-links a {font-size: 21px;color: #fff;}
footer .copyright {text-align: center;background: #dca94b;color: #fff;padding: 9px 0px;margin-top: 15px;}
/* footer css end */

/* theme-heading css start */

.theme_heading {
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
}
.theme_heading:after {
    content: "";
    width: 50000000000000000000000000000000%;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #dca94b;
    transform: translateY(-50%);
}
.theme_heading h3 {
    font-size: 23px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin: 0px;
    padding-left: 27px;
    z-index: 1;
    background: #fff;
    padding-right: 25px;
    max-width: 638px;
}
.theme_heading h3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 5px;
    height: 100%;
    transform: skew(-20deg);
    background: #dca94b;
    max-height: 27px;
}
.theme_heading h3:before {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 16px;
    height: 100%;
    transform: skew(-20deg);
    background: #fff;
}
/* theme-heading css end */

/* banner-css start */
.banner-section{background: url(../img/banner-bg.jpg);height: calc(467px);background-repeat: no-repeat;padding-bottom: 215px;padding-top: 158px;background-size: cover;background-attachment: fixed;background-position: center center;}
.flying{font-size: 2.5rem;}
.explore-btn a{background: #dca94b;color: #fff;font-size: 14px;display: inline-block;padding: 10px 20px;border-radius: 10px;margin-top: 15px;transition: all 0.5s;transform: skew(-20deg);overflow: hidden;}
.explore-btn a:after {content: "";position: absolute;top: 0;left: 50%;width: 0%;height: 100%;background: #000;z-index: -1;border-radius: 10px;transition: all 200ms ease-in;transform: translateX(-50%);}
.explore-btn a:hover:after{opacity: 1;width: 100%;}
.explore-btn a i{transition:padding 0.5s;}
/* banner-css end */

/* booking-form css start */
.booking-form {margin-top: -90px;}
.booking-form .filter-form{box-shadow: 3px 8px 4px -5px #eae2e2;}
.booking-form .filter-form ul {border:none}
.booking-form .filter-form ul li a.active{font-weight: bold;font-size: 17px;color:#000!important;}
.booking-form .filter-form ul li a{font-weight: bold;font-size: 17px;padding: 11px 39px;border:none!important;background:#dca94b;color:#fff;}
.booking-form .filter-form ul li a i{padding-right: 18px;}
.booking-form .tab-content {background: #fff;padding: 0px 28px;border-radius: 0px 10px 10px 10px;}
.booking-form .list{display:flex;padding-bottom: 20px;border-radius: 0px 10px 10px 10px;}
.booking-form .box{border: 1px solid #e0d8d8;border-radius: 11px;padding: 16px 20px;min-height: 113px;position: relative;margin: 20px 0 15px;}
.booking-form .list span {font-size: 13px;display: inline-block;margin-right: 15px;}
.booking-form .box p{margin-bottom: 4px;font-size: 13px;font-family: 'Open Sans';text-transform: capitalize;color: #000;}
.booking-form .box h2{font-weight:bold;font-size: 19px;margin-bottom: 5px}
.booking-form .circle{width: 50px;height: 50px;background: white;padding: 21px 12px;border-radius: 50px;position: absolute;z-index: 999;right: -29px;border: 1px solid #d4caca;top: 26px;cursor: pointer;outline: none !important;box-shadow: none !important;}
.booking-form .circle i:first-child {display: block;text-align: center;font-size: 19px;line-height:0;color: #d4caca}
.booking-form .circle i:last-child {display: block;text-align: center;font-size: 19px;color: #d4caca}
.booking-form .circle:hover {background: #000;}
.booking-form .circle:hover i{color: #fff;}
.booking-form .booking-btn{text-align: right;position: relative;color: #fff;border-radius: 4px;top: 19px;}
.booking-form .booking-btn button{padding: 8px 29px;background: #000;color: #fff;transform: skew(-20deg);border-radius: 10px;}
.booking-form .booking-btn button i{margin-left:21px;}
.booking-form .booking-btn button:after {content: "";position: absolute;z-index: -1;width: 0%;height: 100%;background: #dca94b;top: 0;left: 50%;border-radius: 10px;opacity: 0;transition: all 100ms ease-in;transform: translateX(-50%);}
.booking-form .booking-btn button:hover:after{width: 100% !important;opacity: 1 !important;}
.booking-form .location {border: 0;padding: 0;font-size: 19px;font-weight: bold;margin-bottom: 5px;outline: none !important;box-shadow: none !important;width: 100%;}
.booking-form .date-picker {position: relative;display: flex;align-items: center;justify-content: center;}
.booking-form .date-picker input {font-weight: bold;font-size: 19px;margin-bottom: 0px;border: 0px;width: 100%;outline: none !important;box-shadow: none !important;}
.booking-form .date-picker img {width: 25px;height: 25px;}
.booking-form .list input {border: 0;border-bottom: 1px solid;width: 85px;text-align: center;margin-left: 6px;outline: none !important;box-shadow: none !important;}
.booking-form .numbrical {margin-left: 12px;}
.booking-form .numbrical button {width: 25px;height: 25px;border: 1px solid #000;border-radius: 50%;outline: none !important;box-shadow: none !important;cursor: pointer;}
.booking-form .numbrical button:hover{background: #dca94b !important;color: #fff !important;border-color: #dca94b !important}
.booking-form .numbrical input {margin: 0 10px;width: 50px;outline: none !important;box-shadow: none !important;}
.clockpicker {
	width: 110px ​!important;
	display: inline-block !important;
}
.clockpicker input {
	border: 0 !important;
	padding: 0px !important;
	font-weight: bold;
	font-size: 19px;
	color: #000;
	box-shadow: none !important;
	outline: none !important;
	width: 100% !important;
}

.clockpicker span.input-group-addon {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.duration {
    border: 0;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-right: 10px;
    margin-left: -5px;
	outline: none !important;
	box-shadow: none !important;
}

.from_result {
    position: relative;
}

.search-list {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    border-radius: 10px;
    max-height: 137px;
    overflow-y: auto;
	display: none;
}
.search-list a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    padding: 6px 10px;
}
.search-list a i {
    color: #dca94b;
    margin-right: 8px;
}
/* booking-form css end */

/* login-sidebar css start */
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9986;
}

.login_sidebar {
        position: fixed;
    right: 0;
    top: 0;
    width: 470px;
    background: #fff;
    z-index: 10000;
    padding: 30px 57px;
    height: 100%;
}

.close_login {
    position: absolute;
    left: -45px;
    top: 22px;
    border: 0;
    padding: 0;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
    width: 45px;
    height: 45px;
    background: #dca94b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

.login_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
	    margin-bottom: 35px;
}



.login_header a {
    font-size: 15px;
}


.login_sidebar .form-group {
    margin-bottom: 22px;position: relative;
}

.login_sidebar form .form-group > label {
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    color: #091e42;
}


.login_sidebar .show-password {
    margin-top: 8px;
    font-size: 10px;
    position: absolute;
    top: 38px;
    right: 13px;
    z-index: 1;
    color: #1a88ff;
}

.login_sidebar input {
    transform: skew(-20deg);
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
    border-color: #dca94b !important;
    color: #000;
	font-size: 13px;
    height: 45px;
}

.password_group {
    margin-bottom: 5px !important;
}
.password_group input{
	padding-right: 55px;
}


.forget_group {
    text-align: right;
    padding-right: 16px;
}

.forget_link {
    font-size: 12px;
	color: #dca94b;
}
/* login-sidebar css end */

/* features css start */
.features {margin-top: 65px;}
.features .container {padding: 0px 55px 0 35px;}
.features .box {background: #fff;padding: 30px 35px;transform: skew(-20deg);border-radius: 20px;overflow: hidden;display: flex;flex-direction: column;align-items: flex-start;justify-content: center;text-align: left;height: 100%;box-shadow: 4px 6px 10px #d2d2d2;}
.features .box .feature_heading {display: flex;flex-direction: row-reverse;align-items: center;justify-content: space-between;width: 100%;}
.features .box h3 {font-size: 20px;}
.features .box .icon {display: inline-block;margin-bottom: 15px;transform: skew(20deg);}
.features .box p {color: #757575;font-size: 14px;}
/* features css end */

/* recommended-css start */
.recommended {margin-top: 55px;}
.thumbsup-header {position: relative;text-align: center;}
.thumbsup-header > span {display: inline-flex;position: relative;z-index: 1;width: 60px;height: 60px;background: #dca94b;align-items: center;justify-content: center;font-size: 31px;border-radius: 10px;color: #fff;}
.thumbsup-header:after {content: "";position: absolute;width: 100%;border-top: 5px solid #dca94b;left: 0;top: 50%;transform: translateY(-50%);border-radius: 20px;}
.recommended-content {text-align: center;margin-top: 25px;}
.recommended-content h4 {font-size: 31px;}
.recommended-content p {font-size: 15px;max-width: 800px;margin: auto;}
.recommended-carousel {padding: 0px 80px;margin-top: 40px;overflow: hidden;}
.cars_collection .car_box {background: #fff;padding: 25px;border-radius: 10px;transition: all 0.3s ease-in;margin: 30px 0px;}
.cars_collection .car_box figure {display: flex;height: 163px;}
.cars_collection .owl-item img {display: block;width: 100%;height: 100%;object-fit: contain;}
.cars_collection .points {padding: 0;margin: 0;list-style: none;display: flex;flex-wrap: wrap;}
.cars_collection .points  li{width: 33.33%;display: inline-block}
.cars_collection .points span {font-size: 14px;display: block;width: 100%;}
.cars_collection .points small{color: #757575}
.cars_collection .owl-nav button {position: absolute;top: 50%;transform: translateY(-50%) skew(-20deg);width: 45px;height: 35px;border: 1px solid #b7b7b7 !important;border-radius: 10px !important;outline: none !important;box-shadow: none !important;}
.cars_collection .owl-nav button span {display: flex;width: 100%;height: 100%;background: #fff;border-radius: 10px;align-items: center;justify-content: center;font-size: 36px;padding-bottom: 7px;}
.cars_collection .owl-next {right: 0;}
.cars_collection .owl-prev {left: 0;}
.cars_collection .owl-nav button:hover{border-color: #dca94b !important}
.cars_collection .owl-nav button:hover span {background: #dca94b;}

.cars_collection .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.owl-item {
    opacity: 0;
}

.owl-item.active {
    opacity: 1;
}


.cars_collection .car_box:hover {
    transform: scale(1.1);
}
/* recommended-css end */


/* our-work-procedure css start */
.our-work-procedure {margin-top: 30px;background: #fff;padding: 15px 0px 50px;}
.our-work-procedure .container {padding: 0px 55px 0 35px;}
.our-work-procedure .recommended-content {margin-bottom: 35px;}
.our-work-procedure .box {background: #f9f9f9;padding: 30px 35px;transform: skew(-20deg);border-radius: 20px;overflow: hidden;display: flex;flex-direction: column;align-items: flex-start;justify-content: center;text-align: left;height: 100%;box-shadow: 4px 6px 10px #d2d2d2;}
.our-work-procedure .box .feature_heading {display: flex;flex-direction: row-reverse;align-items: center;justify-content: space-between;width: 100%;}
.our-work-procedure .box h3 {font-size: 20px;}
.our-work-procedure .box .icon {display: inline-block;margin-bottom: 15px;transform: skew(20deg);width: auto;height: 48px;}
.our-work-procedure .box .icon img {height: 100%;}
.our-work-procedure .box p {color: #757575;font-size: 14px;}
/* our-work-procedure css end */

/* our-map css start */

.our_map {
    margin-top: 60px;margin-bottom: 90px;
}

.map_bg {
    opacity: 0.2;
    height: 430px;
    margin: auto;
    display: block;
}
.our_map .container{position: relative;}
.map_texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map_texture h4 {
    text-align: center;
    max-width: 450px;
    margin: 45px auto 15px;
	line-height: 34px;
}

.transfer_points {
    padding: 0;
    margin: 0;
    list-style: none;
	margin-top: 35px;
	    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_point {
    display: block;
    width: 100%;
    position: relative;
    padding-left: 18px;
}

.inner_point:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #dca94b;
    transform: skew(-20deg);
}

.transfer_points li {
    margin-bottom: 25px;
}


.inner_point a {
    color: #000;
}
.map_texture p{
	font-size: 15px;
    max-width: 800px;
    margin: auto;
	text-align: center;
    padding: 0px 15px;
}

.inner_point a:hover {
    padding-left: 15px;
}

.inner_point a i {
    margin-left: 10px;
}

.more_airport {
    margin-top: 23px;
    transform: skew(-20deg);
    border-radius: 10px;
    background: #000 !important;
    border-color: #000 !important;
    font-size: 15px;
    padding: 10px 25px;
	box-shadow: none !important;
	outline: none !important;
	position: relative;
}
.more_airport:after {content: "";position: absolute;top: 0;left: 50%;width: 0%;height: 100%;background: #dca94b;z-index: -1;border-radius: 10px;transition: all 200ms ease-in;transform: translateX(-50%);}
.more_airport:hover:after{opacity: 1;width: 100%;}
/* our-map css end */

/* listin-page css start */

.listing_page {
    margin-top: 73px;
}
.inner_page_search {
    background: #dca94b;
   padding: 22px 0px;
}

.inner_page_search .nav-tabs {
    padding: 0px;
    border: 0px;
}


.inner_page_search .nav-tabs li {
    margin-right: 25px;
}

.inner_page_search .nav-tabs a {
    padding: 0px;
    background: none !important;
    border: 0px !important;
    color: #e8e8e8;
}


.inner_page_search .nav-tabs a.active {
    color: #fff !important;
    font-weight: 600;
}



.field_form {
    display: flex;
    flex-wrap: wrap;
	    margin-top: 15px;
}


.fields_box {
    width: calc(100% - 141px);
    margin-right: 20px;
}



.fields_box input , 
.fields_box select{
    border: 1px solid #fff;
    background: transparent !important;
    font-size: 14px;
	box-shadow: none !important;
	outline: none !important;
	border-color: #fff !important;
	color: #fff !important;
}

.fields_box input::placeholder {
  color: #fff !important;
}

.fields_box input::-ms-input-placeholder {
  color: #fff !important;
}

.fields_box input::-ms-input-placeholder {
  color: #fff !important;
}

.field_form .btn_search {
    width: 121px;
    border: 0px;
    height: 40px;
    background: #333;
    border-radius: 5px;
    color: #fff;
	outline: none !important;
	box-shadow: none !important;
	cursor: pointer;
}


.car_listing {
    /* height: calc(100vh - 211px); */
    height: calc(100vh - 74px);
    overflow: hidden;
    overflow-y: auto;
    padding-right: 30px;
    padding-top: 30px;
}


.car_listing .car_box {
    background: #fff;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 16px;
    transition: all 300ms ease-in;
}


.car_listing .car_box:hover {
    transform: scale(0.95) skew(-10deg);
	box-shadow: 2px 10px 7px #d8d8d8;
}


.car_listing .car_image {
    margin: 0px;
    display: inline-flex;
    width: 240px;
    padding: 20px 0px;
	position: relative
}


.car_listing .car_image img {
    height: 100%;
    object-fit: contain;
    width: 100%;
	object-position: top;
}


.car_listing .btn_booknow {
    position: absolute;
    bottom: 17px;
    left: 63px;
    min-width: 93px;
    background: #dca94b;
    border: 0;
    color: #fff;
    padding: 5px 0px;
    border-radius: 4px;
    font-size: 14px;
	z-index: 1;
	cursor: pointer;
	outline: none !important;
	box-shadow: none !important;
    text-align: center;
}


.add-booking-recent-passenger-li > label {
    display: none;
}

.car_listing .btn_booknow:hover{background: #333;}

.car_listing .car_info {
        padding: 18px 0px;
    position: relative;
	    width: calc(100% - 200px);
}


.car_listing .car_info h4 {
    font-size: 20px;
    text-transform: uppercase;
	    margin-bottom: 4px;
}

.car_listing .car_info > strong {
    font-size: 13px;
    color: #9a9a9a;
    display: block;
    padding-right: 145px;
}

.list-info {
    margin-top: 7px;
}


.list-info i {
    margin-right: 2px;
    color: #dca94b;
}




.pointers {
    padding-left: 0px;
    list-style: none;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pointers li {
        width: 50%;
    border-left: 1px solid #ccc;
    font-size: 13px;
    padding: 5px 0px 5px 20px;
    display: inline-flex;
    align-items: flex-start;
}

.pointers li:nth-child(odd) {
    padding-left: 0px;
    border-left: 0px;
}

.pointers li img {
    height: 20px;
    margin-right: 11px;
}

.pricing {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 24px;
    color: #dca94b;
	    text-align: right;
}


.pricing small {
    font-size: 13px;
    color: #000;
}

.map_portion {
    width: 100%;
    /* height: calc(100vh - 211px); */
    height: calc(100vh - 74px);
    background: #efefef;
	border-left: 1px solid #ccc;
}

.map_portion iframe {
    height: 100%;
    width: 100%;
}

.btn_destination {
    position: absolute;
    right: 20px;
    top: 18px;
    background: #333;
    border: 1px solid #333;
    padding: 7px 16px;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    box-shadow: none !important;
    outline: none !important;
	z-index: 1;
}

.btn_destination:hover {
    background: #dca94b;
    border-color: #dca94b;
}


.destination_sidebar {
    position: absolute;
    top: 0;
    right: -500%;
    z-index: 11;
    background: #fff;
    width: 350px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 0px;
	transition: all 0.3s ease;
}


.show_destination_sidebar {
    right: 0%;
}

.btn_sidebar_close {
    position: absolute;
    top: 7px;
    right: 10px;
    border: 0;
    background: transparent;
    color: #333;
    padding: 0px;
	box-shadow: none !important;
	outline: none !important;
	z-index: 1;
	cursor: pointer;
}

.btn_sidebar_close:hover{color: red;}

.destination_sidebar h5 {
    font-size: 16px;
    text-align: center;
    background: #efefef;
    padding: 10px 0px;
    color: #333;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    overflow: hidden;
    overflow-y: auto;
}



.point_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    margin-bottom: 70px;
	position: relative;
	font-size: 13px;
}

.point_box:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    height: 46px;
    border-left: 2px dashed #dca94b;
    z-index: 1;
    transform: translateY(123%);
}

.destination_points .point_box:last-child:after {
    display: none;
}
.map_marker img {
    width: 32px;
    margin-bottom: 15px;
}


.destination_points {
    margin-top: 38px;
}


.ride_text {
    padding-left: 0px;
    list-style: none;
    padding: 0px 20px;
	margin: 0px
}
.ride_text li {
    display: flex;
    align-items: center;
    font-size: 14px;
	margin-bottom: 20px;
}

.ride_text li:last-child{
	margin-bottom: 0px;
}

.ride_text li span {
    display: inline-block;
    margin-right: 15px;
    width: 39px;
}

.ride_text li span img {
    width: 100%;
}

/* listin-page css end */

/* book-now form css start */
.book_now.popup_format{
    position: fixed;
    bottom: -500%;
    left: 0;
    background: #fff;
    max-height: 485px;
    width: 100%;
    height: 50%;
    z-index: 12;
    padding-top: 30px;
    transition: all 0.5s ease-in;
    padding-bottom: 30px;
}

.book_now .inner_book_now {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.book_now h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.book_now .alert-secondary > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book_now .alert-secondary > div span {
    color: red;
    font-size: 23px;
}

.book_now .alert-secondary p {
    font-size: 14px;    margin-bottom: 7px;
}

.book_now .alert-secondary ul {
    font-size: 13px;
    margin-bottom: 9px;
}

.book_now .alert-secondary ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px !important;
    border-right: 1px solid #333;
    padding-right: 20px;
}
.book_now .alert-secondary ul li:last-child{
    border-right: 0px !important;
    padding-right: 0px !important;
}

.book_now .alert-secondary ul li i {
    margin-right: 9px;
    color: green;
    font-size: 20px;
}

.booknow_page .nav-tabs li {
    margin-right: 0px !important;
}

.book_now .nav-tabs a {
    color: #333;
    display: inline-block;
    border: 1px solid #333 !important;
    padding: 10px 15px;
    min-width: 123px;
    text-align: center;
}
.book_now .nav-tabs a:hover{
    border-color: #dca94b !important;
    color: #dca94b !important;
}
.book_now .nav-tabs li {
    margin-right: -1px;
}

.book_now .nav-tabs a.active {
    background: #dca94b !important;
    border-color: #dca94b !important;
    color: #fff !important;
    position: relative;
}
.book_now .nav-tabs{
    margin-bottom: 25px;
}

.custome_record .form-group {
    margin-bottom: 30px;
}

.book_now .theme_heading:after{width: 100%}

html.show_booknow , body.show_booknow{
    overflow: hidden;
}
body.show_booknow .overlay {
    opacity: 1;
    visibility: visible;
}
body.show_booknow .book_now{bottom: 0%;}

.payment_group .form-group {
    display: flex;
}
/* book-now form css end */

/* material_input css start */

.material_fill_input input {
    width: 100%;
    height: 45px;
    border: 1px solid #000;
    padding: 0px 20px;
    outline: none !important;
    box-shadow: none !important;
}

.payment_group label {
    margin-right: 21px;
}
/* material_input css end */

/* book-now page css start */

.booknow_page {
    padding-top: 88px;
}

.booknow_inner {
    margin: 45px auto;
}
.booknow_page .map_portion {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    height: 300px;
    margin-bottom: 25px;
}

.booknow_page .destination_sidebar {
    position: unset;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}



.booknow_page .ride_text li span{width: 28px;}


.booknow_page .destination_text {
    padding: 15px 20px 0px;
}



.booknow_page .destination_text span {
    display: inline-block;
    min-width: 50px;
    margin-right: 15px;
}

.booknow_page .destination_text span i {
    float: right;font-style: normal;
}

.booknow_page .destination_sidebar h5{
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booknow_page .destination_sidebar h5 a{color: #dca94b;}

.btn_show_map {
    display: inline-block;
    padding: 10px 23px;
    text-align: center;
    background: #333;
    color: #fff;
    transform: skew(-20deg);
    border-radius: 10px;
    margin-top: 30px;
}


.booknow_page .form_header {
    margin-bottom: 20px;
}

.booknow_page .form_header .nav-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px !important;
}


.booknow_page .form_header .nav-tabs a {
    color: #333 !important;
    position: relative;
    padding-left: 30px;
    font-weight: normal !important;
    border: 0px !important;
}
.booknow_page .form_header .nav-tabs a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #dca94b;
    background: #fff;
    transform: translateY(-50%);
}

.booknow_page .form_header .nav-tabs a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    background: #dca94b;
    width: 10px;
    height: 10px;
    z-index: 1;
    border-radius: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.booknow_page .form_header .nav-tabs a.active:before{
    opacity: 1 !important;
}

.booking_form {
    padding-right: 30px;
}

.social_buttons {
    display: inline-flex;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.fb_button{
    background-color: #3A5A99;
}


.input-wrapper {
    margin-bottom: 16px;
}

.form_box {
    background: #efefef;
    border: 1px solid #ccc;
    padding: 30px 30px 35px;
    border-radius: 10px;
    margin-top: 18px;
    margin-bottom: 25px;
}

.form_data h6 {
    font-size: 24px;
}

.form_box h5 {
    font-size: 18px;
    margin-bottom: 15px;
}


.my_checkbox label {
    cursor: pointer;    position: relative;
}

.my_checkbox label span {
    position: relative;
    z-index: 1;
    padding-left: 0px;
    display: flex;
}

.my_checkbox .hidded_field {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.my_checkbox label span .square {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #dca94b;
    background: #fff;
    margin-right: 10px;
    position: relative;
}

.my_checkbox label span .square:before {
    content: "\f00c";
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-family: FontAwesome;
    color: #e1b768;
    opacity: 0;
}

.my_checkbox label input:checked ~ span .square:before{
    opacity: 1 !important;
}


.my_checkbox {
    margin-bottom: 10px;
}
.phone_field select {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 75px;
    height: 36px;
    border: 0;
    border-right: 1px solid #ccc;
    padding-left: 5px;
    outline: none !important;
    box-shadow: none !important;
}

.phone_field input {
    padding-left: 91px;
}

.booking_form textarea {
    height: 138px;
}

.total_payment {
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 26px 27px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.total_payment span {
    display: inline-block;
    max-width: 163px;
    font-size: 24px;
}

.total_payment strong {
    font-size: 25px;
}

.total_payment strong sup{
    font-size: 17px;
    font-weight: normal;
}

.btn_book_now {
    padding: 10px 50px;
    background: #dca94b;
    border: 1px solid #dca94b;
    color: #fff;
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.left_button button {
    padding: 7px 15px;
    border: 1px solid #dca94b;
    background: #dca94b;
    color: #fff;
    border-radius: 7px;
}


.totaling {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 22px;
}

.totaling span {
    color: #333;
    font-size: 22px;
}

.booking_form {
    padding-right: 30px;
    background: #fff;
    padding: 27px 35px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.bottom_part {
    padding: 0px 20px;
}

.bottom_part ul{
   color: green;margin: 0;
}
/* book-now page css end */

/* switch-toggle css start */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch input:checked + .slider {
    background-color: #2ccc98;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2ccc98;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  .switch .slider.round {
    border-radius: 34px;
  }
  
  .switch .slider.round:before {
    border-radius: 50%;
  }
/* switch-toggle css end */

/* my-account-page css start */
.myAccount_page {
    padding-top: 89px;
}
.myAccount_sidebar{
    width: 355px;margin: 25px 0px;
}


.myAccount_sidebar ul {
    padding-left: 0px;
    width: 355px;
    margin: 0px;
    background: #fff;
    border-right: 1px solid #ccc;border-top: 1px solid #ccc;
}

.myAccount_sidebar ul li {
    list-style: none;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;
}

.myAccount_sidebar ul li a{
    display: flex;color: #333;
    padding: 22px 20px;
}


.myAccount_sidebar ul li a.active {
    background: #e0e0e0;
}

.myAccount_sidebar ul li a i
{
    display: inline-block;
    margin-right: 15px;
    padding-top: 3px;
}

.myAccount_sidebar ul li a p{font-size: 14px;}

.myAccount_sidebar ul li a p:last-of-type{
    margin-bottom: 0;
}

.myAccount_page .container {
    display: flex;
}


.inner_part {
    width: calc(100% - 355px);
    padding: 27px 55px 0px;
}

.inner_part h4 {
    font-weight: bold;
    margin-bottom: 22px;
}

.inner_part .box h6 {
    font-size: 18px;
}


.inner-heading {
    font-size: 15px;
    color: #888787;
    display: block;
    margin-bottom: 18px;
}


.inner_part label {
    font-size: 14px;
    font-weight: 600;
}

.inner_part .form-group{
    position: relative;
}

.inner_part .btn_eye {
    padding: 0;
    border: 0;
    background: none;
    position: absolute;
    top: 39px;
    right: 27px;
    font-size: 14px;
    z-index: 2;
    cursor: pointer !important;
    outline: none !important;
    box-shadow: none !important;
}

.inner_part .btn_eye:hover{
    color: #dca94b;
}

.inner_portion {
    border: 1px solid #ccc;
    background: #fff;
    padding: 22px 32px 26px;
    border-radius: 7px;
    margin-bottom: 30px;
}

.inner_portion .box {
    margin-bottom: 25px;
}


.inner_portion .box:last-child{
    margin-bottom: 0px;
}


.having_action {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.btn_trash {
    border: 1px solid red;
    color: red;
    font-size: 15px;
    padding: 8px 19px 8px 9px;
    display: inline-block;
    border-radius: 20px;
}

.btn_trash i {
    display: inline-flex;
    width: 21px;
    height: 21px;
    background: transparent;
    color: red;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.btn_trash:hover{
    background-color: red;color: #fff;
}

.btn_trash:hover i{background-color: #fff;color: red;border-color: #fff;}


.inner_portion .btn_submit {
    min-width: 111px;
    background: #333;
    border-color: #333;
}

.inner_portion .btn_submit:hover{
    background-color: #dca94b !important;border-color: #dca94b !important;
}
/* my-account-page css end */


/* trip page css start */

.trip_lists ul {
    padding-left: 0;
    list-style: none;
}

.trip_name{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.trip_name img {
    width: 63px;
}

.trip_name span {
    font-size: 13px;
    font-weight: 500;
    color: grey;
}


.trip-box .card-header {
    background-color: transparent !important;
    display: flex;
    align-items: center;
}


.time_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.time_border {
    display: inline-flex;
    width: 100px;
    border-top: 2px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin: 0px 15px;
    position: relative;
}
.time_item span {
    color: #adaaaa;
    font-size: 13px;
}


.trip_timming {
    margin-left: 35px;
}




.time_consumer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 45px;
}

.time_consumer span {
    color: #adaaaa;
    font-size: 13px;
}


.price_line {
    position: absolute;
    right: 27px;
    color: red;
}

.trip-box h6 {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}

.trip-box h6 span {
    font-weight: normal;
    color: grey;
    margin-left: 5px;
    font-size: 13px;
}
.trip_location {
    display: flex;
}
.trip_location .map_icon {
    display: inline-block;
    width: 30px;
    height: auto;
    min-width: 35px;
}

.trip_location .map_icon img{width: 100%;height: 100%;}



.location_name {
    display: flex;
}

.location_dots {
    display: inline-block;
    width: 2px;
    height: 44px;
    background: #ccc;
    position: relative;
    top: 4px;
    margin: 0px 15px;
}


.arive_time {
    display: inline-block;
    margin-right: 17px;
    font-weight: bold;
}

.location_shortform {
    font-weight: bold;
    margin-right: 22px;
}


.location_dots:after {
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
}


.location_dots:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
}

.trip_inner{position: relative;}

.points_inner {
    position: absolute;
    top: -42px;
    right: 9px;
    font-size: 12px;
}


.points_inner i {
    color: #dca94b;
    margin-right: 7px;
}


.points_inner li {
    margin-bottom: 3px;
}


.points_inner li:last-child {
    margin-bottom: 0px;
}


.trip_inner p {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: grey;
}

.trip_inner p i{color: #dca94b;}



.trip_lists > ul > li {
    margin-bottom: 25px;
}

.booking_id {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
}


.button_actions {
    position: absolute;
    right: 0;
    bottom: -8px;
}


.button_actions .btn {
    padding: 0px;
    font-size: 14px;
}

.button_actions .btn_modify {
    color: blue;
}

.button_actions .btn_cancel {
    color: red;
}

.btn_rebook{
    color: green;
}

.button_actions {
    position: absolute;
    right: 0;
    bottom: -8px;
}

.button_actions .btn i {
    margin-right: 7px;
}


.trip-box .status {
    position: absolute;
    right: 19px;
    top: 14px;
    font-size: 11px;
    padding: 7px 15px 8px;
    font-weight: normal;
}


.badge-danger.status {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


.trip_page .nav-tabs {
    border-bottom: 0px !important;
}


.trip_page .nav-tabs a {
    padding: 0px;
    background: none !important;
    border: 0px !important;
    text-transform: uppercase;
    color: #333;
}


.trip_page .nav-tabs li {
    margin-left: 25px;position: relative;
}
.nav-tabs li:after {
    content: "/";
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 1;
}

.trip_page .nav-tabs li:first-child{
    margin-left: 0px;
}


.trip_page .nav-tabs li:first-child:after{display: none;}

.trip_page .nav-tabs .active {
    color: #dca94b !important;
    font-weight: bold;
}



/* trip page css end */
/* home page css */
.ac-intellicomplete {
    max-width: calc(33.333333% - 100px);
    max-height: 225px;
}

.search-list a:hover {
    background: #efefef;
}

.ac-intellicomplete h2 {
    font-size: 17px;
    text-align: center;
    background: #dca94b;
    color: #fff;
    padding: 8px 0px;
    margin: 0px;
}


.ac-intellicomplete ul {
    padding-left: 0px;
    list-style: none;
    text-align: center;
}


.ac-intellicomplete .search-list a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    color: #dca94b;
    font-size: 14px;
    padding: 6px 10px;
}


.otp_page {
    padding-top: 132px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 44px;
    background: #fff;
}

.otp_page i {
    font-size: 86px;
    margin-bottom: 30px;
}


.language-dd a:hover {
    background: #dca94b !important;
    color: #333 !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #fec134 !important;
    border-color: #fec134 !important;
}

/* bifrost page css start */

.byfrost_lists {
    padding-top: 45px;
    }
    
    .byfrost_page {
    margin-top: 73px;
    }
    .bifrost_navigation{
    background: #dca94b;
    text-align: center;
    padding: 15px 0px 15px;
    }
    .bifrost_navigation .secondary_menu_links{color: #fff;}
    
    .secondary_menu_links:hover {
    text-decoration: underline !important;
    }
    /* bifrost page css end */
    
    /* price-table css start */
    
    .trip_table {
    margin-top: 0px;
    padding-bottom: 0px;
    background: #fff;
    margin-bottom: 40px;
    }
    .booking_link_table{
    color: #0056b3 !important;
    font-size: 13px !important;
    margin: 0px !important;
    }
    .class_type{font-size: 16px;}
    
    .trip_table .btn-small {
    font-size: 12px !important;
    padding: 3px 9px !important;
    }
    .account_name{color: #333 !important;font-size: 16px !important;}
    
    .trip_div .trip_location_inner:last-child{
    margin-bottom: 0px;
    }
    
    .trip_location_inner {
    display: flex;
    margin-bottom: 22px;
    max-width: 260px;
    }
    
    
    .trip_location_inner i {
    display: inline-flex;
    width: 46px;
    height: 24px;
    margin-right: 15px;    
    }
    
    .trip_location_inner img {
    width: 100%;
    height: auto;
    }
    
    .trip_location_inner span {
    font-size: 14px;
    }
    
    .trip_div .border_line {
    border-left: 2px dashed #dca94b;
    display: inline-block;
    height: 36px;
    margin-top: -25px;
    margin-left: 7px;
    margin-bottom: 7px;
    }
    .points_list{
    padding: 0;list-style: none;
    }
    
    .points_list li{font-size: 14px;margin-bottom: 5px;}
    
    .points_list img{width: 20px;margin-right: 5px}
    /* price-table css end */
    
    
    
    .byfrost_page aside {
    background: #dca94b;
    width: 300px;
    }
    
    .byfrost_page aside li{list-style: none;}
    
    
    .byfrost_page aside ul {
    padding-left: 0px;
    }
    
    .byfrost_page ul li a {
    color: #fff;
    font-size: 16px;
    }
    
    .byfrost_page ul li a {
    color: #fff;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 17px;
    border-bottom: 1px solid #fff;
    }
    
    .byfrost_page ul li:last-child a{
    border-bottom: 0px;
    }
    
    
    .byfrost_page ul li a:hover {
    background: #333;
    }
    .status_blue{position: relative;}
    .status_value{
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    }
    
    .blue_value{
    background: blue; 
    }
    
    .red_condition{
    background: red;
    }
    
    .yellow_value{
    background: #dca94b;  
    }
    
    .green_value{
    background: #1cc51c;  
    }
    
    
    .bifrost_navigation span {
    display: inline-block;
    margin: 0 13px;
    }
    
    
    .table_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
    .table_footer .pagination {
    margin: 0px 25px 20px 0px;
    border-bottom: 1px solid #e6e9ec;
    }
    
    .table_footer .pagination a {
    color: #333 !important;
    }
    
    .table_footer .pagination a:hover{color: #fff !important;}
    
    .table_footer .page_items {
    padding-left: 25px;
    }
    
    .byfrost_tabs {
    border-bottom: 0px;margin-top: 40px;
    }
    
    .byfrost_tabs li {
    margin-right: 10px;
    }
    
    .byfrost_tabs a {
    background: transparent !important;
    border-radius: 0px !important;
    color: #333 !important;
    padding: 5px 14px !important;
    border: 0px !important;
    border-radius: 4px !important;
    }
    
    
    .byfrost_tabs a.active {
    background: #dca94b !important;
    color: #fff !important;
    }
    
    .byfrost_tabs li:after {
    opacity: 0 !important;
    }
    
    .bifrost_navigation a.active {
    color: #000;
    font-weight: bold;
    }
    /* filter-sidebar css start */
    
    .filter_sidebar {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px 25px;
    margin-top: 40px;
    border-radius: 4px;
    position: relative;
    }
    
    
    .filter_sidebar h6 {
    font-size: 19px;
    margin-bottom: 20px;
    }
    
    
    .filter_icon {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #c3c3c3;
    }
    
    .filter_sidebar .form-control{
    font-size: 14px;
    }
    
    
    /* filter-sidebar css end */
    
    /* third-party css start */
    
    
    .third_party {
    background: #fff;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 40px;
    }
    
    .table_header {
    border-bottom: 1px solid #ccc;
    padding: 12px 20px;
    }
    
    .table_header h6 {margin: 0px;font-size: 20px;}
    .no_data {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 265px;
    flex-direction: column;
    }
    .no_data img {margin-bottom: 18px;}
    /* third-party css end */
    
    /* add third-party modal css start */
    .add_third_party_modal {max-width: 500px;margin: 40px auto;}
    .add_third_party_modal .btn-icon {border: 1px solid #ccc;border-radius: 50%;color: #333;width: 33px;height: 33px;padding: 0px;display: inline-flex;align-items: center;justify-content: center;background: #efefef;}
    .addForm {padding: 22px 20px;}
    /* add third-party modal css end */
    
    /* custom checkbox css start */
    .my_custom_checkbox{position: relative;cursor: pointer;}
    .my_custom_checkbox .hidden_field{width: 0;height: 0;opacity: 0;position: absolute;top:0;left: 0;}
    .my_custom_checkbox span{position: relative;padding-left: 37px;}
    .my_custom_checkbox span:after{content: "";position: absolute;left: 0;width: 25px;height: 25px;border: 1px solid #ccc;border-radius: 4px;}
    .my_custom_checkbox span:before{content: "\f00c";position: absolute;top: 2px;left: 6px;font-family: 'FontAwesome';font-size: 13px;opacity: 0;z-index: 1;}
    .my_custom_checkbox input:checked + span:after{background-color: #dca94b !important;}
    .my_custom_checkbox input:checked + span:before{opacity: 1 !important;color: #fff;}
    /* custom checkbox css end */
    
    
    /* agency-page css start */
    .top_row_filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .btn_hide{display: none;}
    
    .dashboard_card {
        margin-bottom: 20px;
        padding: 20px;
    }
    /* agency-page css end */



ul#id_payment_method {
    display: flex;
    list-style: none;
}


ul#id_payment_method > li > label > .form-control {
    width: auto !important;
    display: inline-block;
}

ul#id_payment_method li {
    margin-right: 25px;
}

ul#id_payment_method li > label {
    margin-bottom: 0px;
}
.payment-note {
    background: #fff;
    padding: 16px 30px;
    border-radius: 6px;
    margin-left: 16px;
    border: 1px solid #ccc;
    margin-top: 26px;

    text-align: center;
}

p.payment-note-text {
    font-size: 18px;
    display: block;
    margin-bottom: 16px;
}


.payment-note img {
    height: 29px;
}


.payment-note-right {
    margin-top: 17px;
}


.payment-note-right img {
    height: 73px;
}
.car-name{
    border: 1px solid #ccc;
    padding: 0px 31px 10px;
    background: #fff;
    border-width: 0 0 1px 0px;
    font-size: 22px;
    text-align: center;
}
.car-image{
    width: 100%;
    max-height: 220px;
    object-fit: contain;
}


/* b2b-solutin css start */

.banner_section {
    margin-top: 73px;
    text-align: center;
    height: 250px;
    background-position: center center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}


.banner_section h3 {
    font-size: 48px;
    margin-bottom: 25px;
}

.banner_section p {
    max-width: 800px;
}


.how_it_workss_texture {
    padding: 55px 0 35px 0px;
}

.how_it_workss_texture h4{text-align: center;}

.partner-list {
    max-width: 800px;
    margin: 35px auto 0px;
}

.partner-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


.partner-list ul li {
    width: 25%;
    margin-bottom: 20px;
}

.partner-list ul li img {
    width: 100%;
    height: 50px;
    object-fit: contain;
}


.how_it_workss_texture h5 {
    text-align: center;
    font-size: 29px;
    margin: 0px 0 40px;
    color: #428bca;
}


.tab_list {
    max-width: 1145px;
    margin: auto;
    overflow: hidden;
    /*overflow-x: auto;*/
	text-align: center;
}


.tab_list .nav-tabs {
    display: inline-block;
    padding-bottom: 10px;
    border-color: #bfbfbf;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-align: center;
}

.tab_list .nav-tabs li {
    display: inline-block;
}

.tab_list ul li {
    margin: 0px 10px;
    position: relative;
}


.tab_list ul li {
    margin: 0px 10px;
    position: relative;
}

.tab_list ul li a{color: #000;border-bottom: 2px solid transparent;padding-bottom: 9px;}
.tab_list ul li a.active{border-color: #dca94b !important}
.tab_list .nav-tabs li:after{content: "|" !important;}
.tab_list .nav-tabs li:first-child:after{display: none;}

.list_data {
    max-width: 930px;
    margin: 25px auto 0;
	    padding-top: 35px;
}

.list_data > .row > div[class^="col"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.list_data h3 {
    font-size: 28px;
    margin-bottom: 16px;
}

.b2b_texture {
    padding-right: 40px;
}


.airline_tabs {
    background: #fff;
    padding: 17px 25px;
    margin: 0;
}


.airline_tabs li {
    display: inline-block;
    max-width: 49%;
    margin-bottom: 17px;
}


.airline_tabs li span {
    display: block;
    width: 100%;
}


.airline_tabs li span img {
    height: 40px;
    object-fit: contain;
}


/* b2b-solutin css end */

/* booking-id css start */
.inner_tabs {
    margin-top: 20px;
    border-bottom: 1px solid #000 !important;
    margin-bottom: 0px;
}
.inner_tabs a{
    color: #000 !important;
    background-color: none !important;
}

.inner_tabs a:hover{color: #000 !important;background: none !important;}


.inner_tabs a.active{
    background-color: #333 !important;color: #fff !important;
}

.micro-warn {
    background: rgba(255, 0, 0, 0.233);
}

.label-arrival {
    background: rgb(255, 255, 160);
}


.highlighted-st {
    color: green;
}
/* booking-id css end */